<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Ydirect</lang>
    </name>
    <author>
        <lang name="default">Oleg Demidov</lang>
    </author>
    <homepage>https://vk.com/u_demidova</homepage>
    <settings></settings>
    <version>1.0.0</version>
    <requires>
        <livestreet>2.0</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="russian">Управление рекламой через Yandex Direct</lang>
        <lang name="default">Yandex Direct</lang>
    </description>
</plugin>